/* setting background image for the body */
body {
    background-image: url(../images/background.png);
}

/* setting font color and font-family for the navand the border-bottom */
nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border-bottom: 2px solid #cccccc;
 
}

/* setting the max width of the container */
.container {
max-width: 960px;
padding-left: 0;
}

/* setting the color of the links on the pictures for the portfolio page */
a {
    color:white; 
 }

 /* setting the header parameters */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bolder;
    font-size: xx-large;   

}

/* horisontal line between the heading and the main content */
hr {
    height: 1.5px;
    color: #dddddd;
    background-color: #dddddd;
}

/* setting images height and width */
img {
    height: 170px;
    width: 245px;
    
}

/* parameters of the text on in the main container */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
   
}

/* footer parameters */
footer {
    font-size: small;
    background: #666666;
    border-top: 6px solid #4aaaa5;
}

/* column border */
.col-sm-9 {
    border: 1px solid #dddddd;
}

/* images on portfolio page */
.img, .float-left, .mr-4 {
    position: relative;
    border: 1px solid #cccccc;
}

/* parameters of the taxt-blocks on the profile pictures */
.text-block {
    position: absolute;
    bottom: 20px;
    width: 245px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;;
}

/* setting the position of navbar-brand to have the same left border on the page as main container*/
.navbar.navbar-expand-lg.navbar-light.bg-white {
    padding: 0;
}

/* seting the color for the submit button on the contact page */
.btn.btn-primary {
    background: #4aaaa5;
    border-color: #4aaaa5;
}

/* text parameters in navbar-brand */
#navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    background: #4aaaa5;
    padding: 20px;
    margin: 0px;
    
}

/* adjusted picture sizes on the main page */
#main {
    width: 300px;
    height: 215px;
}

#exampleFormControlTextarea1 {
    height: 150px;
}