body {
    background-image: url(../images/background.png);
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border-bottom: 2px solid #cccccc;
 
}

a {
    color:white; 
 }

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bolder;
    font-size: xx-large;   

}

hr {
    height: 1.5px;
    color: #dddddd;
    background-color: #dddddd;
}

img {
    height: 170px;
    width: 245px;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777; 
   
}


footer {
    font-size: small;
    background: #666666;
    border-top: 6px solid #4aaaa5;
}

.col-sm-9 {
    border: 1px solid #dddddd;
}

.img, .float-left, .mr-4 {
    position: relative;
    border: 1px solid #cccccc;
}

.text-block {
    position: absolute;
    bottom: 20px;
    width: 245px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;;
}
  
#navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    background: #4aaaa5;
    padding: 20px;
    margin: 0px;
    
}