/* setting background image for the body */
body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/summer-california-tumblr-backgrounds-set-palms-sky-sunset-placard-poster-flyer-invitation-card-tropical-summertime-vector-112068192.jpg);
}

/* setting font color and font-family for the navand the border-bottom */
nav {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    border-bottom: 2px solid #FBA100;
 
}

a,
a:focus,
a:active,
a:hover {
    color:#544c74;
}

 /* setting the header parameters */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6C648B;
    font-weight: bolder;
    font-size: xx-large;   

}

/* horisontal line between the heading and the main content */
hr {
    height: 1.5px;
    color: #dddddd;
    background-color: #6C648B;
}

/* setting images height and width */
img {
    height: 170px;
    width: 245px;
    
}

/* parameters of the text on in the main container */
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3e3e; 
   
}

/* footer parameters */
footer {
    
    font-size: small;
    background: #B6A19E;
    border-top: 6px solid #6C648B;
}

label {
color:#544c74;
}

/* setting the max width of the container */
.container {
    max-width: 960px;
    padding-left: 0;
    }

/* setting the color of the links on the pictures for the portfolio page */
.h4 {
    color:#FBA100; 
 }

/* column border */
.col-sm-9 {
    background: #B6A19E;
    opacity: 0.9;
    border: 1px solid #FBA100;
}

/* images on portfolio page */
.img, .float-left, .mr-4 {
    position: relative;
    border: 1px solid #FBA100;
}

/* parameters of the taxt-blocks on the profile pictures */
.text-block {
    position: absolute;
    bottom: 20px;
    width: 245px;
    background-color: #6C648B;
    color: #B6A19E;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;;
}

/* setting the position of navbar-brand to have the same left border on the page as main container*/
.navbar.navbar-expand-lg.navbar-light.bg-white {
    padding: 0;
}

/* seting the color for the submit button on the contact page */
#butn,
#butn:active {
    background: #6C648B;
    border-color: #544c74;
    color:white;
}

.navbar-light .navbar-nav .nav-link {
    color: #544c74;

}

.col-sm--9 {
    background: #B6A19E;
    opacity: 0.9;
    border: 1px solid #FBA100;
}

#buttonn, 
#buttonn:focus {
    outline: none;
    box-shadow: none;
    width:200px;
    padding-top: 0px;
    background: none;
    border: none;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6C648B;
    font-weight: bolder;
    float: right;
    position: absolute;
    top: 15px;
    right: 30px;

}

#buuton, 
#buuton:focus {
    outline: none;
    box-shadow: none;
    width:170px;
    padding: 0px;
    background: none;
    border: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #6C648B;
    font-weight: bolder;
    float: right;
    position: absolute;
    top: 40px;
    right: 0px;
    padding-bottom: 10px;

}


/* text parameters in navbar-brand */
#navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #FBA100;
    background: #6C648B;
    opacity: 0.9;
    padding: 20px;
    margin: 0px;
    
}

/* adjusted picture sizes on the main page */
#main {
    width: 290px;
    height: 215px;
}

#exampleFormControlTextarea1 {
    height: 150px;
}

#navig{
    padding: 0px;
    background: #B6A19E;
    opacity: 0.95;
}

#yellow {
    background:#B6A19E;
    opacity: 0.97;

}

#contactinfo {
    margin-left: 60%;
    font-weight: 600;
    color: #544c74;
}

#footer {
    color:#aa6d04;
}